{embed="_includes/.head"}	
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
	
				{exp:topic_layout:entry name="{segment_2}"}
								
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
