// this is the section for the body styles
.redBG {
    background-color: $redBackground;
}
.whiteBG {
    background-color: $whiteBackground;
}
.offWhiteBG {
    background-color: $offWhiteBackground;
}
.blackBG {
    background-color: $blackBackground;
}
.greyBG {
    background-color: $greyBackgroundOther;
}
.darkGreyBG {
    background: $darkGreyBG;
}
.blueBG {
    background: $blue-1;
}
.lightGreyBG {
    background: $lightGreyBG-2;
}
.lightGreyBG-2 {
    background: $lightGreyBG;
}
.paddingRight {
    padding-right: 10%;
    @include tablet-portait {
        padding: 0;
    }
}
.removeBottom {
    margin-bottom: 0;
}
.columnPadding {
    padding: 0 2%;
}
iframe {
    @include tablet-portait {
        width: 100%;
        height: auto;
    }
}

.bgImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    &.row-flex {
        @extend %display-flex-normal;
        &.row-alt {
            flex-direction: row-reverse;
        }
        &-fold {
            flex-wrap: wrap;
        }
    }
}

.contentArea {
    &.contentAreaPadding {
        padding: $padding;
    }
    &.contentOfInterest {
        .contentOfInterestBGImage {
            padding: 40px 60px 400px 60px;
            background-position: bottom center;
            background-repeat: no-repeat;
            @include tablet-portait {
                width: 100%;
            }
            @include phone-portrait {
                height: 430px;
                background-size: 100%;
                padding-bottom: 0;
            }
            &.whiteBG {
                @include phone-portrait {
                    background-size: 60%;
                }
            }
        }
    }
    
    .box {
        height: 540px;
        @include box-sizing();
        overflow: hidden;
    }
    // Carousel container
    .contentCarousel {
        padding: 35px 60px 0 60px;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        .insightsCarousel {
            margin: 30px 0 0 0;
            .slick-track {
                overflow: visible;
                a {
                    color: #000000;
                }
                .insight {
                    width: 520px;
                    @include box-shadow();
                    margin: 0 50px 0 0;
                    .insightImage {
                        width: 300px;
                        height: 300px;
                        float: left;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    .insightText {
                        width: 220px;
                        float: left;
                        padding: 25px 20px;
                        @include box-sizing();
                        .date {
                            font-size: 0.875em;
                            line-height: 1em;
                            margin: 0 0 100px 0;
                        
                        }
                        p {
                            text-align: left;
                        }
                    }
                    @include tablet {
                        width: 400px;
                        .insightImage {
                            width: 45%;
                            height: 300px;
                            
                        }
                        .insightText { 
                            width: 55%;
                        }
                        
                    }
                    @include phone {
                        max-width: 290px;
                        .insightImage {
                            width: 100%;
                        }
                        .insightText {
                            width: 100%;
                        }
                    }
                }
            }
            button {
                display: none;
            }
            .slick-dots {
                margin: 40px 0 0 0;
                position: relative;
                left: -30px;
                li {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    &:before {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px;
                        background: #d8d8d8;
                        @include border-radius(50%);
                    }
                    &.slick-active {
                        &:before {
                           background: #ed1e24; 
                        }
                    }
                }
            }
        }
        .link {
            float: right;
            color: $blueLinkColor;
            font-size: 1em;
            line-height: 1em;
            position: relative;
            top: -16px;
            right: -30px;
        }
         @include tablet-portait {
            width: 100%;
        }
        @include phone {
            height: auto;
            padding: 35px 60px;
        }
    }
    
    // Article specific styling 

    &.contentAreaInsightArticle {
        padding: 40px 0;
        .date {
            p {
                margin: 0 0 25px 0;
                font-size: 0.875em;
                line-height: 1em;
            }
        }
        h1 {
            padding: 0 15%;
            @include phone {
                padding: 0;
            }
        }
        h2 {
            padding: 0 15%;
            margin: 0 0 60px 0;
            @include phone {
                padding: 0;
            }
        }
        blockquote {
            margin: 80px 0 70px 0;
            padding: 60px 0 0 0;
            background: url(../img/quotes.png) no-repeat top center;
            font-size: 1.250em;
        }
    }
    &.contentAreaInternalLinks {
        padding: 60px 0 50px;
        .row {
            @extend %display-flex-normal;
            margin: 60px 0 45px 0;
            .pageLink {
                width: 20%;
                padding: 0 3%;
                &Icon {
                    width: 72px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
                p {
                    color: $darkText;
                    margin: 0 0 15px 0;
                    font-family: 'HoneywellSansWeb-Bold';
                }
                .arrowIcon {
                    width: 12px;
                    margin: 0 auto;
                }
                &:nth-of-type(2) {
                    .pageLinkIcon {
                        width: 77px;
                        margin-bottom: 23px;
                    }
                }
                &:nth-of-type(3) {
                    .pageLinkIcon {
                        width: 80px;
                        margin-bottom: 23px;
                    }
                }
                &:nth-of-type(4) {
                    .pageLinkIcon {
                        width: 86px;
                        margin-bottom: 28px;
                    }
                }
                &:nth-of-type(5) {
                    .pageLinkIcon {
                        width: 165px;
                        margin-bottom: 41px;
                    }
                }
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .proudtoLogo {
            width: 210px;
            margin: 0 auto;
        }
    }
}
// Content area showing products
.products {
    .product {
        height: 490px;
        padding: 60px 40px;
        @include box-sizing();
        background-position: 50% 90%;
        background-repeat: no-repeat;
        @include tablet-portait {
            width: 100%;
        }
        h2 {
            font-family: 'HoneywellSansWeb-Book';
        }
    }
}

// Insights page styling

.insightsHero {
    padding: 60px 0;
}


.insight--hidden{
	display:none !important;
}

.insightsContent {
    padding: 30px 0 50px 0!important;
    .insightsRow {
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .insight--card {
        
    }
    .insight {
        @include box-shadow();
        @include scale(1);
        @include rolloverAnimations(250ms);
        margin-bottom: 40px;
        min-height: 450px;
        &:hover {
            @include scale(1.05);
        }
        a {
            display: block;
            color: $darkText;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: $darkText;
                .insightText {
                    p {
                       
                    }
                }
            }
        }
        .insightImage {
            position: relative;
            height: 215px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            .insightDate {
                padding: 15px 10px;
                @include box-sizing();
                background: $transparentWhite;
                position: absolute; 
                right: 0px;
                bottom: 0px;
                text-align: center;
                width: 180px;
                p {
                    color: $darkText;
                    font-size: 0.875em;
                    line-height: 1em;
                }
            }
        }
        .insightText {
            padding: 30px 35px;
            p {
                font-size: 1.250em;
                line-height: 1.4em;
                color: $darkText;
                font-family: 'HoneywellSansWeb-Medium';
				&.smallPara { 
					font-size: 0.8em;
				}
            }
			 
            
        }
    }
    .one-third {
        &.column {
            @include tablet-portait {
                width: 50%;
            }
            @include phone {
                width: 100%;
            }
        }
    }
}

// Made in britain

.contentArea {
    &.contentAreaMIB {
        &-1 {
            padding: 80px 0;
        }
    }
     &.productsListingMIB {
        .productImageBG {
            background-position: center;
            background-size: cover;
            h4 {
                font-size: 1.563em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
                margin: 0 0 10px 0;
                color: $lightText;
            }
            p {
                font-family: 'HoneywellSansWeb-Medium';
                font-size: 0.938em;
            }
        }
    }
    &-map {
        padding: 90px 0;
        height: 820px;
        @include box-sizing();
        background: url(../img/madeInBritain-Europe.jpg) no-repeat bottom right;
        background-size: cover;
        background-color: #f0f0f0;
        h3 {
            font-family: 'HoneywellSansWeb-Book';
            font-size: 2em;
            line-height: 1.2em;
            color: $darkText;
            margin: 0 0 30px 0;
        }
        p {
            font-family: 'HoneywellSansWeb-Medium';
            font-size: 0.938em;
            line-height: 1.4em;
            color: $darkText;
            margin: 0;
        }
        @include tablet {
            //background-size: 150%;
        }
        @include tablet-portait {
            background-size: 100%;
            background-position: top right;
            height: 630px;
        }
    }
}

.locations {
    position: relative;
    .row {
        @extend %display-flex-normal;
        @include tablet-portait {
            display: block;
            .one-third {
                &.column {
                    width: 100%;
                }
            }
        }
    }
    .location {
        background: #1a1a1a;
        position: relative;
        &:nth-of-type(even) {
            background: $darkGreyBG;
        }
        .heading {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding: 30px 60px;
            @include box-sizing();
            .icon {
                width: 25px;
                height: auto;
                position: absolute;
                left: 20px;
                top: 35px;
                svg {
                    .cls-1 {
                        fill: $lightText; 
                    }
                }
                &-3 {
                    svg {
                        .cls-1 {
                           fill: $lightText; 
                        }
                    }
                }
            }
            p {
                font-size: 1.563em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
                margin: 0;
                color: $lightText;
                span {
                    font-size: 0.760em;
                    line-height: 1em;
                    font-family: 'HoneywellSansWeb-ExtraBold';
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .content {
            padding: 50px;
            p {
                font-size: 0.938em;
                line-height: 1.4em;
                margin: 0 0 15px 0;
                font-family: 'HoneywellSansWeb-Medium';
                strong {
                    font-family: 'HoneywellSansWeb-ExtraBold';
                }
            }
            ul {
                margin-bottom: 50px;
                li {
                   font-size: 0.938em; 
                    line-height: 1.2em;
                   font-family: 'HoneywellSansWeb-Medium';
                    margin: 0 0 10px 0;
                }
            }
        }
        &-2 {
            .content {
                ul {
                    margin-bottom: 250px;
                    @include phone {
                        margin-bottom: 50px;
                    }
                }
            }
        }
        &-3 {
            .content {
                ul {
                    margin-bottom: 208px;
                    @include phone {
                        margin-bottom: 50px;
                    }
                }
            }
            .heading {
                p {
                   // color: $lightText;
                }
            }
        }
        .button {
            background: none;
            width: 100%;
            max-width: 100%;
            border-color: $lightText;
            color: $lightText;
            font-size: 0.938em;
            &:hover {
                background: $lightText;
                color: #1a1a1a;
            }
            @include tablet {
                white-space: normal;
            }
            @include tablet-portait {
                white-space: normal;
            }
        }
        iframe {
            @include tablet {
                height: 155px;
            }
            @include tablet-portait {
                height: 320px;
            }
        }
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 80px;
        @include box-sizing();
        display: none;
        .overlay-bg {
            background: rgba(0,0,0,0.7);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .overlay-close {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 2;
        }
        .overlay-contents {
            background: $lightText;
            position: relative;
            z-index: 2;
            iframe {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        @include tablet-portait {
            height: 100vh;
            position: fixed;
            iframe {
                height: calc(100vh - 160px)!important;
            }
        }
    }
}



