.ctaArea {
    .cta {
        a {
            padding: 95px 0;
            width: 100%;
            display: block;
            color: $lightText;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            line-height: 1em;
            font-size: 1.250em;
//            letter-spacing: 1px;
            font-family: 'HoneywellSansWeb-Bold';
            &:hover {
                color: $darkGreyBG;
            }
            @include tablet {
                padding: 120px 0;
            }
            &:hover {
                color: $white;
            }
        }
        &:nth-of-type(1) {
            background: $blue-1;
        }
        &:nth-of-type(2) {
            background: $blue-2;
        }
        &:nth-of-type(3) {
            background: $blue-3;
        }
//        &.newsCta {
//            background-image: url(../img/Red_Image_block_01.png);
//        }
//        &.offersCta {
//            background-image: url(../img/Red_Image_block_02.png);
//        }
//        &.wheretobuyCta {
//            background-image: url(../img/Red_Image_block_03.png);
//        }
//        &.courseCta {
//            background-image: url(../img/Red_Image_block_07.png);
//        }
//        &.productsCta {
//            background-image: url(../img/Red_Image_block_08.png);
//        }
//        &.insightsCta {
//            background-image: url(../img/Red_Image_block_06.png);
//        }
//        &.ataGlanceCta {
//            background-image: url(../img/Red_Image_block_05.png);
//        }
//        @include tablet-portait {
//            width: 100%;
//            a {
//                padding: 75px 0;
//            }
//        }
    }
}