// this is the section for the footer section

.footer {
    background: $navyBG;
    padding: 45px 0 30px 0;
    .navFooter {
        ul {
            li {
                display: inline-block;
                margin: 0 35px 0 0;
                a {
                    color: $white;
                    text-transform: uppercase;
                    font-family: 'HoneywellSansWeb-Bold';
                    text-decoration: none;
                    padding: 0;
                    display: block;
                    font-size: 1em;
                    line-height: 1em;
                }
            }
        }
    }
    .navFooterOther {
        ul {
            li {
                display: inline-block;
                margin: 0;
                border-right: 1px solid $white;
                &:last-of-type {
                    border-right: none;
                }
                a {
                    color: $white;
                    font-size: 0.938em;
                    line-height: 1em;
                    padding: 0 5px 0 0;
                    text-decoration: none;
                    display: block;
                    font-family: 'HoneywellSansWeb-Bold';
                }
            }
        }
    }
    .logo {
        text-align: right;
        img {
            max-width: 120px;
            display: inline;
        }
    }
    .row {
        &.borderBottom {
            padding: 0 0 35px 0;
            margin: 0 0 30px 0;
            border-bottom: 1px solid $lightBlueBG;
        }
    }
    p {
        color: $white;
        font-size: 0.938em;
        line-height: 1em;
        margin: 0;
        font-family: 'HoneywellSansWeb-Medium';
    }
}

