// Form styling

.insightsSearchBar {
    padding: 30px 0;
    border-top: 1px solid $darkBorderColor;
    border-bottom: 1px solid $darkBorderColor;
    form {
        input {
            padding: 10px ;
            border: 1px solid $lightText;
            @include border-radius(0px);
            width: 100%;
            font-size: 2.125em;
            line-height: 1em;
            height: auto;
            font-weight: 100;
            font-family: 'HoneywellSansWeb-Book';
            text-align: center;
            &:focus {
                border: 1px solid $darkBorderColor;
            }
            @include phone-portrait {
                font-size: 1.2em;
            }
        }
    }
    .four {
        &.columns {
            @include tablet-portait {
                width: 50%;
                margin-left: 25%;
            }
        }
    }
}

.contentArea {
    .sortBy {
        margin-bottom: 10px;
        @include tablet-portait {
            width: 100%;
            margin: 0 0 20px 0;
        }
        .sortByForm {
            label {
                display: block;
                width: 100%;
                text-align: left;
                font-size: 1.250em;
                line-height: 1em;
                font-weight: 100;
                color: $darkText;
                margin: 0;
            }
            select {
                width: 100%;
                display: block;
                @include box-sizing();
                border: 1px solid $lightText;
                margin: 0;
                font-size: 1.250em;
                line-height: 1em;
                font-weight: 200;
                text-align: center;
            }
        }
    }
}
.loadMore {
    font-size: 1.250em;
    line-height: 1em;
    color: $greyLinkColor;
    width: 200px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    @include rolloverAnimations(400ms);
    border: none;
    padding: 0;
    .fas {
//       font-size: 0.8em; 
    }
    &:hover {
        color: $blueLinkColor;
    }
}