// this is the section for the header section

.header {
    background: $navyBG;
    padding: 20px 0 0 0;
    .container {
        
    }
    .logo {
        img {
            max-width: 280px;
        }
    }
    .nav {
        text-align: center;
        ul {
            li {
                display: inline-block;
                margin: 0 20px 0 0;
                a {
                    color: $lightBlue;
                    text-transform: uppercase;
                    font-family: 'HoneywellSansWeb-Bold';
                    text-decoration: none;
                    padding: 22px 20px 44px 20px;
                    display: block;
                    font-size: 1em;
                    line-height: 1em;
                    &.active {
                        color: $white;
                    }
                }
                .dropdownNav {
                    position: absolute;
                    width: 100%;
                    top: 80px;
                    left: 0;
                    background: $lightBlue-2;
                    z-index: 5;
                    padding: 20px 25px;
                    @include box-sizing();
                    display: none;
                    ul {
                        li {
                            display: block;
                        }
                    }
                    .row {
                        text-align: left;
                        .heading {
                            padding: 0 0 20px 0;
                            margin: 0 0 20px 0;
                            border-bottom: 1px solid #9bc6e6;
                            p {
                                font-size: 1.250em;
                                line-height: 1em;
                                text-transform: uppercase;
                                margin: 0;
                            }
                        }
                        ul {
                            margin: 0;
                            li {
                                margin: 0 0 20px 0;
                                a {
                                    padding: 0 20px;
                                    color: $white;
                                    position: relative;
                                    &:after {
                                        display: none;
                                    }
                                    &:before {
                                        content: '> ';
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                    &.dropdownNavNarrow {
                        width: 50%;
                        left: 25%;
                    }
                }
                &.dropdown {
                    a {
                        position: relative;
                        &:before {
                            content: '';  
                            display: block;
                            width: 7px;
                            height: 4.5px;
                            @include background-image('nav-icon.svg', center);
                            position: absolute;
                            right: 5px;
                            top: 28px;
                        }
                        &:after {
                            content: '';
                            display: block;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            background: $lightBlue-2;
                            transform: rotate(45deg);
                            position: absolute;
                            left: 35%;
                            bottom: -25px;
                            display: none;
                        }
                        &.active {
                            &:before {
                               @include background-image('nav-icon-active.svg', center); 
                            }
                        }
                    }
                    &:hover {
                        a {
                            &:after {
                                display: block;
                            } 
                        }
                        .dropdownNav {
                            display: block;
                        }
                    }
                }
                
            }
        }
    }
    .login {
        margin-top: 10px;
        .button {
            background: $lightBlue;
            border-color: $lightBlue;
            margin: 0;
            font-size: 0.875em;
            width: 70px;
            padding: 10px 0;
            letter-spacing: 0;
            float: right;
            position: relative;
            &:before {
                content: '';
                width: 21px;
                height: 20px;
                @include background-image('account-icon.svg', center);
                position: absolute;
                z-index: 1;
                left: -35px;
                top: 5px;
            }
        }
    }
}


// Hamburger menu styling

#nav-icon {
  width: 40px;
  height: 43px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 30px;
  top: 50px;
  display: none;
    span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: $honeywellRed;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      @include border-radius(5px);
        &:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        &:nth-child(2) {
          top: 12px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        &:nth-child(3) {
          top: 24px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
    }
    &.open {
        span {
            &:nth-child(1) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              top: 0px;
              left: 5px;
            }
            &:nth-child(2) {
              width: 0%;
              opacity: 0;
            }
            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              top: 29px;
              left: 5px;
            }
        }
    }
    @include phone {
        display: block;
        top: 40px;
    }
}


