// Hero styling

.hero {
    .row {
        .bgImage {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }
    &.hero-slider {
        position: relative;
        .slick-list {
            overflow: hidden;
        }
        .slide {
            width: 100%;
            max-width: 1600px;
            .row {
                @extend %display-flex-normal;
                .padding {
                    padding: 100px 40px;
                    h3 {
                        font-size: 1.875em;
                        line-height: 1em;
                        margin: 0 0 20px 0;
                    }
                    p {
                        
                    }
                }
            }
        }
        .slick-dots {
            text-align: right;
            position: absolute;
            bottom: 35px;
            left: 66.66%;
            margin: 0;
            li {
                display: inline-block;
                margin: 0 10px 0 0;
                width: 11px; 
                height: 11px;
                background: #868686;
                @include border-radius(100%);
                &:first-of-type {
                    margin-left: 40px;
                }
                &.slick-active {
                    background: $white;
                }
                button {
                    display: none;
                }
            }
        }
    }
    &.productsHero {
        
        .padding {
            padding: 100px 40px;
            h1 {
                font-size: 1.875em;
                line-height: 1em;
                margin: 0 0 20px 0;
            }
            p {
                color: $white;
            }
        }
    }
    &.supportHero {
        background: $nearBlack;
        padding: 50px 0 20px 0;
    }
    &.newsHero {
        background: #e9e9e9;
        padding: 50px 0 20px 0;
        h1,
        p {
            color: #666666;
        }
    }
}

//.heroCarousel {
//    .homeHeroLink {
//        position: absolute;
//        left: 0;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        z-index: 1;
//    }
//    .slick-dots {
//       position: absolute;
//       left: 0;
//       bottom: 0;
//        margin: 0;
//        width: 100%;
//        text-align: center;
//        li {
//            list-style: none;
//            position: relative;
//            display: inline-block;
//            margin: 0 10px 0 0;
//            &:before {
//                content: '';
//                display: block;
//                width: 12px;
//                height: 12px;
//                background: #d8d8d8;
//                @include border-radius(50%);
//            }
//            button {
//                display: none;
//            }
//            &.slick-active {
//                &:before {
//                    background: #ed1e24;
//                }
//            }
//        }
//    }
//    .slick-list {
//        width: 100%;
//        overflow: hidden;
//        .hero {
//            &.homeHero {
//                min-height: 705px;
//                @include phone {
//                    min-height: 590px;
//                }
//            }
//        }
//        .slick-track {
////            &:before,
////            &:after {
////                display: none;
////            }
//        }
//    }
//}
//.hero {
//    background-position: center bottom;
//    background-repeat: no-repeat;
//    padding: 90px 0 0 0;
//    width: 100%;
//    max-width: 1600px;
//    &.bgBlack,
//    &.Black {
//        background-color: $blackBackground;
//        color: $lightText;
//    }
//    &.White {
//        background-color:#f2f2f5;
//        color: $blackBackground;
//        h1 {
//            color: inherit;
//        }
//        h2 {
//            color: inherit;
//            p {
//               color: inherit; 
//            }
//        }
//    }
//    &.offWhiteBG {
//        color: $darkText;
//    }
//    &.homeHero {
//        padding-bottom: 450px;
//        background-image: url(../img/t6-extended-BG.png);
//        @include box-sizing();
//        position: relative;
//        width: 100vw;
//        @include tablet-landcape {
//            padding-bottom: 400px;
//        }
//        @include phone-portrait  { 
//            padding-bottom: 250px;
//            background-size: 100%;
//        }
//    }
//    &.aboutHero {
//        @include background-image("about_lge.png", center center); 
//        padding-bottom: 450px;
//        @include tablet-landcape {
//            padding-bottom: 400px;
//        }
//        
//    }
//    &.courseHero {
//        padding-bottom: 200px;
//        background-size: cover;
//        background-position: center center;
//        .container h1 {
//            display: none;
//        }
//    }
//    &.productsHero {
//        padding-bottom: 380px;
//        @include phone-portrait { 
//            padding-bottom: 250px;
//            background-size: 100%;
//        }
//    }
//    &.insightsHero {
//        background-size: cover;
//        height: 680px;
//        position: relative;
//        padding: 0;
//        .postAuthor {
//            position: absolute;
//            right: 0px;
//            top: 0px;
//            height: 100%;
//            width: 290px;
//            background: rgba(255,255,255, 0.9);
//            padding: 0 75px;
//            @include box-sizing();
//            .postAuthorTable {
//                display: table;
//                width: 100%;
//                height: 100%;
//                .postAuthorTableCell {
//                    display: table-cell;
//                    width: 100%;
//                    height: 100%;
//                    vertical-align: middle;
//                    .authorImage {
//                        margin: 0 0 15px 0;
//                        width: 140px;
//                        height: 140px;
//                        background-size: cover;
//                        background-position: center center;
//                        @include border-radius(100px);
//                    }
//                    .authorInfo {
//                        p {
//                            font-size: 1.250em;
//                            line-height: 1em;
//                            color: $darkText;
//                            text-align: center;
//                            margin: 0 0 15px 0;
//                            &:last-of-type {
//                                font-size: 1em;
//                                margin: 0;
//                            }
//                        }
//                    }
//                }
//            }
//        }
//        @include tablet-landcape {
//            height: 500px;
//        }
//        @include phone-portrait  {
//            height: 400px;
//            .postAuthor {
//                width: 150px;
//                padding: 0 20px;
//            }
//        }
//    }
//    &.courseHeroSmall {
//        //padding-bottom: 300px;
//    }
//    &.heroVideo {
//        padding: 0;
//        iframe {
//            width: 100%;
//            height: 800px;
//            display: block;
//            @include tablet {
//                height: 500px;
//            }
//            @include phone {
//                height: 230px;
//            }
//        }
//    }
//}


















