.offers {
    padding: 50px 0;
    a {
        text-decoration: none;
    }
    .row-flex {
        flex-wrap: wrap;
        .columnPadding {
            padding: 0 1%;
            margin: 0 0 2% 0;
            .resource {
                background: #e9e9e9;
                .resource_header {
                    border: 1px solid #e9e9e9;
                    border-bottom: none;
                }
                .resource_body {
                    background: #e9e9e9;
                    padding: 20px 25px;
                    p {
                        font-family: 'HoneywellSansWeb-ExtraBold';
                        margin: 0 0 5px 0;
                        text-decoration: none;
                        line-height: 1em;
                        
                        &:last-of-type {
                            margin: 0;
                            font-family: 'HoneywellSansWeb-Bold';
                        }
                        &.small {
                            font-size: 0.875em;
                            color: #808080;
                            font-family: 'HoneywellSansWeb-Medium';
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}