.productContent {
    .productContentSection {
        display: none;
        &.active {
            display: block;
        }
        .heading-block {
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 40px;
                position: absolute;
                background: inherit;
                transform: rotate(45deg);
                position: absolute;
//                left: 35%;
                top: -10px;
                //display: none;
            }
        }
    }
    &_tabs {
        background: $nearBlack;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        a {
            text-decoration: none;
            position: relative;
            color: #a0a0a0;
            &.active {
                color: $white;
            }
//            &:after {
//                content: '';
//                display: block;
//                width: 40px;
//                height: 40px;
//                position: absolute;
//                background: $white;
//                transform: rotate(45deg);
//                position: absolute;
//                left: 35%;
//                bottom: -55px;
//                display: none;
//            }
            &.active {
                &:after {
                    display: block;
                }
            }
        }
    }
    &_info {
        .heading-block {
            padding: 45px 0 0 0;
            &:after {
                left: 15%;
            }
        }
        h2 {
            color: $nearBlack;
            margin: 0 0 35px 0;
            font-size: 2em;
            line-height: 1em;
            font-family: 'HoneywellSansWeb-Book';
        }
        h3 {
            color: $nearBlack;
            margin: 0 0 10px 0;
            font-size: 2em;
            font-family: 'HoneywellSansWeb-Book';
        }
        p {
            color: $nearBlack;
            strong {
                font-family: 'HoneywellSansWeb-ExtraBold';
            }
        }
        ul {
            li {
                color: $nearBlack;
            }
        }
        &_image {
            margin: 0 0 25px 0;
        }
        .productContent_video {
            margin: 0 0 35px 0;
        }
        &_bottom {
            background: $lightGreyBG;
            padding: 35px 0;
            position: relative;
            ul {
                margin: 0;
                list-style: none;
                li {
                    padding-left: 45px;
                    position: relative;
                    margin: 0 0 30px 0;
                    &:before {
                        content: '';
                        display: block;
                        width: 35px;
                        height: 35px;
                        @include background-image('pdf-icon.jpg', center);
                        position: absolute;
                        left: 0;
                        top: -8px;
                    }
                    a {
                        color: $nearBlack;
                        text-decoration: none;
                    }
                }
            }
            .teaser {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
    &_training {
        .heading-block {
            padding: 50px 0;
            &:after {
                left: 48.5%;
            }
            h2 {
                margin: 0 0 15px 0;
                font-size: 2em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
            }
            p {
                font-size: 1.250em;
                margin: 0;
            }
        }
        .ctaArea {
            @extend %display-flex-normal;
            .cta {
                float: none;
                background: $nearBlackBG;
                &:nth-of-type(even) {
                    background: $darkGreyBG;
                }
            }
            &_training-image {
                text-align: center;
                padding: 80px 0;
                p {
                    margin: 0;
                    font-size: 1.250em;
                    font-family: 'HoneywellSansWeb-Bold';
                    text-transform: uppercase;
                }
            }
            &_training-info {
                padding: 35px 50px;
                p {
                    margin: 0 0 40px 0;
                }
                .button {
                    padding: 15px 10px;
                    font-size: 0.875em;
                    margin: 0 auto;
                }
            }
            
        }
        
        .productContent_videos {
            padding: 30px 0 35px 0;
            h2 {
                margin: 0 0 15px 0;
                font-size: 2em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
                color: $nearBlackBG;
            }
            p {
                color: $nearBlackBG;
            }
        }
    }
    &_support {
        .heading-block {
            padding: 50px 0;
            &:after {
                left: 77.5%;
            }
            h2 {
                margin: 0 0 15px 0;
                font-size: 2em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
            }
            p {
                font-size: 1.250em;
                margin: 0;
            }
        }
        .ctaArea {
            @extend %display-flex-normal;
            .cta {
                float: none;
                background: $nearBlackBG;
                &:nth-of-type(even) {
                    background: $darkGreyBG;
                }
                
            }
            &_training-image {
                text-align: center;
                padding: 80px 0;
                background-size: cover;
                background-repeat: no-repeat;
                p {
                    margin: 0;
                    font-size: 1.250em;
                    font-family: 'HoneywellSansWeb-Bold';
                    text-transform: uppercase;
                }
            }
            &_training-info {
                padding: 35px 50px;
                p {
                    margin: 0 0 40px 0;
                }
                .button {
                    padding: 15px 10px;
                    font-size: 0.875em;
                    margin: 0 auto;
                }
            }
            &.ctaArea_support {
                .cta {
                    background: #d3d3d3;
                    &:nth-of-type(even) {
                        background: #dfdfdf;
                    }
                    .ctaArea_training-image {
                        p {
                            color: $darkText;
                        }
                    }
                    .ctaArea_training-info {
                        p {
                            color: $darkText;
                        }
                        .button {
                            color: $darkText;
                            border-color: $darkText;
                        }
                    }
                }
            }
        }
        .productContent_videos {
            padding: 30px 0 35px 0;
            h2 {
                margin: 0 0 15px 0;
                font-size: 2em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
                color: $nearBlackBG;
            }
            p {
                color: $nearBlackBG;
            }
        }
    }
}