// Hero Styling

.hero {
    &.heroNoPadding {
        padding: 0;
    }
}

.resideorascals {
    .one-third {
        &.column {
            &.columnPadding {
                padding: 1%;
                p {
                    margin: 0;
                }
            }
        }
    }
}

.resideorascals {
    .contentArea {
        &.contentAreaTop {
            position: relative;
            .imageAbs {
                position: absolute;
                width: 20%;
                top: 0;
                &.imageAbsLeft {
                    left: 0;
                }
                &.imageAbsRight {
                    right: 0;
                }
            }
        }
    }
    .rowDownload {
        .downloadButton {
            padding: 50px;
            display: block;
            background: $honeywellRed;
            color: $lightText;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 20px;
            @include rolloverAnimations(250ms);
            &:hover {
                color: $honeywellRed;
                background: $lightText;
            }
        }
        p {
            font-size: 0.9em;
            a {
                color: $honeywellRed;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}


.resideorascals .offWhiteBG {
    background-color: #cccccc;
}
.resideorascals .image-text-box {
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
    padding: 15px;
}
.resideorascals .download-text {
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
}
.resideorascals .prize-text {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #dc202f;
    padding: 50px 20px;
    color: #ffffff;
    margin: 0;
}
.resideorascals .prize-click-text {
    font-style: italic;
    font-size: .75em;
    text-decoration: underline;
    color: #ffffff;
}
.resideorascals .footer {
//    color: #ffffff;
//    background-color: #dc202f;
}
.resideorascals .proud-to-be {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    width: 35%;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(25px 25px 25px #222);
}
.resideorascals .proud-text {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin-left: 25px;
    font-size: 1.5em;
}
.row-flex {
    display: flex;
}
.red-background {
    background-color: #dc202f;
}
.white-background {
    background-color: #f1f1f2;
    padding: 15px 0;
    @include box-sizing();
    .scale-with-grid {
        max-width: 80%;
        margin: 0 auto;
    }
}
.red-text {
    color: #dc202f;
    font-weight: bold;
    font-size: 2em;
    padding: 30px;
}
.black-text {
    color: #231f20;
    font-weight: bold;
    font-size: 1.75em;
}
.medium-black-text {
    color: #231f20;
    font-size: 1.5em;
}
.small-black-text {
    color: #231f20;
    font-size: 1em;
}
.mail-link {
    color: #231f20;
    text-decoration: underline;
}











