.productCarousel {
    overflow: hidden;
    padding: 0 100px;
    .product {
        &_image {
            background-size: 80%; 
            background-repeat: no-repeat;
            background-position: bottom center;
            padding: 40px 0 185px 0;
            background-color: #f5f5f5;
            p {
                color: $darkText;
                text-align: center;
                margin: 0;
            }
        }
        &_details {
            background: $darkGreyBG;
            padding: 20px 30px;
            color: $white;
            ul {
                margin: 0;
                li {
                    margin: 0 0 10px 0;
                    position: relative;
                    list-style: none;
                    text-transform: uppercase;
                    padding-left: 20px;
                    &:before {
                        content: '> ';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
        &:nth-of-type(odd) {
            .product_image { 
                background-color: #dfdfdf;
            }
            .product_details {
                background: #1a1a1a;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 0%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
        width: 100px;
        background: rgba(39,39,41,0.8);
        color: transparent;
        font-size: 2.5em;
        &:before {
            height: 35px;
            display: block;
            color: $white;
        }
        &.slick-prev {
            left: 0;
            &:before {
                content: "<";
                
            }
        }
        &.slick-next {
            right: 0;
            &:before {
                content: ">";
            }
        }
    }
}