.heading-block {
    &_support {
        padding: 30px 0;
        label {
            color: $white;
            display: inline;
            font-size: 1em;
            font-family: 'HoneywellSansWeb-ExtraBold';
            margin: 0 35px 0 0;
        }
        select {
            margin: 0;
            width: 100%;
            max-width: 300px;
            background: none;
            @include border-radius(0px);
            padding: 0;
            color: $white;
            height: auto;
            line-height: 1em;
            font-size: 1em;
            border: none;
            border-bottom: 1px solid $white;
            font-family: 'HoneywellSansWeb-Medium';
        }
    }
}

.support {
    padding: 50px 0;
    h2 {
        margin: 0 0 40px 0;
    }
    .columnPadding {
        padding: 0 1%;
        margin: 0 0 2% 0;
    }
    .heading {
        color: $nearBlackBG;
        font-family: 'HoneywellSansWeb-ExtraBold';
        font-size: 1em;
        line-height: 1em;
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #808080;
        text-transform: uppercase;
    }
    form {
        margin: 0 0 30px 0;
        label {
            display: inline-block;
            font-size: 1em;
            line-height: 1em;
            color: $nearBlackBG;
            margin: 0 10px 0 0;
            width: 85%;
        }
        input {
            margin: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            @include border-radius(0px);
        }
    }
    &-listing {
        .row-flex {
            flex-wrap: wrap;
            a {
                text-decoration: none;
            }
            .resource {
                &_header {
                    height: 165px;
                    position: relative;
                    background: #b9b9b9;
                    .icon {
                        width: 84px;
                        height: 67px;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
                &_body {
                    background: #e9e9e9;
                    padding: 20px 25px;
                    p {
                        font-family: 'HoneywellSansWeb-ExtraBold';
                        margin: 0 0 5px 0;
                        text-decoration: none;
                        line-height: 1em;
                        
                        &:last-of-type {
                            margin: 0;
                            font-family: 'HoneywellSansWeb-Bold';
                        }
                        &.small {
                            font-size: 0.875em;
                            color: #808080;
                            font-family: 'HoneywellSansWeb-Medium';
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
            .How-to-videos {
                .resource {
                    &_header {
                        .icon {
                            width: 75px;
                            height: 72px;
                        }
                    }
                }
            }
            .user-guides {
                .resource {
                    &_header {
                        .icon {
                            width: 54px;
                            height: 70px;
                        }
                    }
                }
            }
            .installer-guides {
                .resource {
                    &_header {
                        .icon {
                            width: 54px;
                            height: 72px;
                        }
                    }
                }
            }
            .factsheets {
                .resource {
                    &_header {
                        .icon {
                            width: 55px;
                            height: 67px;
                        }
                    }
                }
            }
            .wiring-diagrams {
                .resource {
                    &_header {
                        .icon {
                            width: 48px;
                            height: 64px;
                        }
                    }
                }
            }
            .mobile-apps {
                .resource {
                    &_header {
                        .icon {
                            width: 39px;
                            height: 83px;
                        }
                    }
                }
            }
            .faq {
                .resource {
                    &_header {
                        .icon {
                            width: 70px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

.trainingContent_support {
    padding: 40px 0;
    &.trainingContent_form {
        padding: 30px 0;
        background: #e9e9e9;
        form {
            .row {
                margin: 0 0 10px 0;
                label {
                    display: inline-block;
                    width: 22%;
                    margin: 0;
                    span {
                        color: #0033a1;
                    }
                }
                input {
                    width: 76%;
                    @include border-radius(0px);
                    border: none;
                    margin: 0;
                }
                select {
                    width: 76%;
                    @include border-radius(0px);
                    border: none;
                }
            }
            input[type="submit"] {
                color: $white;
                border: 2px solid $lightBlue;
                background: $lightBlue;
                @include border-radius(0px);
                display: block;
                font-size: 0.875em;
                line-height: 1em;
                padding: 15px 20px;
                height: auto;
                @include rolloverAnimations(250ms);
                width: 100%;
                max-width: 110px;
            }
            p {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

.support {
    .offers {
        a {
            text-decoration: none;
        }
        .resource {
            &_header {
                
            }
            &_body {
                background: #e9e9e9;
                padding: 20px 25px;
                p {
                    font-family: 'HoneywellSansWeb-ExtraBold';
                    margin: 0 0 5px 0;
                    text-decoration: none;
                    line-height: 1em;

                    &:last-of-type {
                        margin: 0;
                        font-family: 'HoneywellSansWeb-Bold';
                    }
                    &.small {
                        font-size: 0.875em;
                        color: #808080;
                        font-family: 'HoneywellSansWeb-Medium';
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
}



