// Training styling

.productContent {
    &_tabs {
        background: $nearBlack;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        a {
            text-decoration: none;
            position: relative;
            color: #a0a0a0;
            text-transform: uppercase;
            &.active {
                color: $white;
            }
//            &:after {
//                content: '';
//                display: block;
//                width: 40px;
//                height: 40px;
//                position: absolute;
//                background: $white;
//                transform: rotate(45deg);
//                position: absolute;
//                left: 35%;
//                bottom: -55px;
//                display: none;
//            }
            &.active {
                &:after {
                    display: block;
                }
            }
        }
        &.trainingContent_tabs {
            a {
                &.active {
                    &:after {
                        content: '';
                        display: block;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        background: $blue-1;
                        transform: rotate(45deg);
                        position: absolute;
                        left: 35%;
                        bottom: -55px;
                    }
                }
            }
        }
    }
    &.trainingContent {
        .heading-block {
            padding: 50px 0;
            h2 {
                margin: 0 0 15px 0;
                font-size: 2em;
                line-height: 1em;
                font-family: 'HoneywellSansWeb-Book';
                color: $white;
            }
            p {
                font-size: 1.250em;
                color: $white;
                &:last-of-type {
                    margin: 0;
                }
            }
        }
        
    }
    .trainingContent_product {
        padding: 50px 0;
        &.remove-top {
            padding-top: 0;
        }
        h3 {
            margin: 0 0 15px 0;
            font-size: 2em;
            line-height: 1em;
            font-family: 'HoneywellSansWeb-Book';
            color: $nearBlack;
        }
        p {
           color: $nearBlack; 
        }
        ul li {
            color: $nearBlack;
        }
        .row {
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
        //    -webkit-justify-content: center;
        //    justify-content: center;
            -webkit-box-align: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        blockquote {
            color: $white;
        }
        h6 {
           color: $white; 
        }
    }
    .trainingContent_course-listing {
        padding: 0;
        .row {
//            -webkit-box-pack: center;
//            -moz-box-pack: center;
//            -ms-flex-pack: center;
//        //    -webkit-justify-content: center;
//        //    justify-content: center;
//            -webkit-box-align: center;
//            -moz-box-align: center;
            -ms-flex-align: inherit;
            -webkit-align-items: inherit;
            align-items: inherit;
        }
        .one-half {
            &.column {
                padding: 40px 35px 30px 35px;
                position: relative;
                float: none;
                p {
                    margin: 0 0 10px 0;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $white;
                    position: absolute;
                    bottom: 0;
                    width: 90%;
                    left: 30px;
                }
                &:nth-of-type(odd) {
                    &:before {
                        content: '';
                        display: block;
                        width: 1px;
                        width: 1px;
                        background: $white;
                        position: absolute;
                        top: 10%;
                        height: 80%;
                        right: 0px;
                    }
                }
            }
        }
    }
    .trainingContent_reviews {
        padding: 60px 0 80px 0;
        .review {
            padding: 0 20px;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 1px;
                width: 1px;
                background: #99add9;
                position: absolute;
                top: 0;
                height: 100%;
                right: 0px;
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
            h4 {
                color: $white;
            }
            p {
                text-align: right;
                color: $white;
                margin: 0;
            }
        }
    }
}