{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
	
				<div class="grid__item one-whole">
					<h1>Learn why you should install <strong>evohome</strong></h1>
					<h2 class="giga">Question 1 of 3</h2>

					<form action="#" class="form--std form--radios">
					<label for="name">Up to how many zones is evohome able to control?</label>
					    <ul>
					    	<li>
					    		<input type="radio" name="name"> <div class="radio-label">haribo</div>
					    	</li>
					    	<li>
					    		<input type="radio" name="name"> <div class="radio-label">A very long name</div>
					    	</li>
					    	<li>
					    		<input type="radio" name="name"> <div class="radio-label">1</div>
					    	</li>
					    	<li>
					    		<input type="radio" name="name"> <div class="radio-label">toodle pip</div>
					    	</li>
					    </ul>
					    <div class="text--center lap-and-up-text--right">
							<a href="#" class="btn btn--med">Previous</a>
							<a href="#" class="btn btn--primary btn--primary-disabled">Next</a>
						</div>
					</form>

					
				</div>

				
				
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>