{exp:channel:entries channel="insights" sort="asc" limit="4" parse="inward"}	
				<a href="{page_url}">
                <div class="insight whiteBG">
                    <div class="insightImage">
                        <img src="{thumbnail}" class="scale-with-grid" />
                    </div>
                    <div class="insightText">
                        <div class="date">
                              {entry_date format="%d %M %Y"}
                        </div>
                        <p class="darkText">{sub_title}</p>
                    </div>
                    <div class="clear">
                    </div>
                </div></a>
{/exp:channel:entries}