{embed="_includes/.head"}
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

		{exp:channel:entries channel="insights" limit="1" dynamic="yes"}
	
	  <section class="hero insightsHero bgBlack" style="background-image: url({main_image});">
            <div class="postAuthor">
                <div class="postAuthorTable">
                    <div class="postAuthorTableCell">
                        <div class="authorImage">
                            <img src="{author_image}" class="scale-with-grid" alt="{author_name} - {auther_job_title}" />
                        </div>
                        <div class="authorInfo">
                            <p>{author_name}</p>
                            <p>{auther_job_title}</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="contentArea contentAreaPadding contentAreaInsightArticle whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="ten columns offset-by-one">
                    <div class="date centered">
                        <p>{entry_date format="%d %M %Y"}</p>
                    </div>
                    <h1 class="centered">{title}</h1>
                    <h2 class="centered">{sub_title}</h2>
                    <div class="row">
                        <div class="twelve columns alpha">
                           {article_body_text}
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
	{/exp:channel:entries}
    <section class="contentArea relatedInsights">
        <div class="contentCarousel offWhiteBG box">
            <h2 class="darkText addBottom">Related Insights</h2>
            <div class="insightsCarousel">
                {embed="insights/carousel"}		
            </div>
            <a href="Insights.html" class="link">See All</a>
        </div>
    </section>
	
	
	

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
