{embed="_includes/.head"}
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

		{exp:channel:entries channel="insights" limit="1" dynamic="yes"}
	
	  <section class="hero insightsHero bgBlack">
       <div class="container">
            <div class="ten columns">
                <div class="row addBottom">
                    <div class="ten columns videocontainer" style="position: relative;width: 100%;height: 0;padding-bottom: 56.25%;">
					{exp:channel_videos:videos entry_id="{entry_id}"}
						<iframe src="https://www.youtube.com/embed/{video:service_id}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="position: absolute; top: 0;left: 0;width: 100%;height: 100%;"></iframe>
					{/exp:channel_videos:videos}
                    </div>
                </div>
       		</div>
        </div>
      
            <div class="postAuthor">
                <div class="postAuthorTable">
                    <div class="postAuthorTableCell">
                        <div class="authorImage">
                            <img src="{author_image}" class="scale-with-grid" alt="{author_name} - {auther_job_title}" />
                        </div>
                        <div class="authorInfo">
                            <p>{author_name}</p>
                            <p>{auther_job_title}</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
   
	{/exp:channel:entries}
	
	

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
