{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}	<div class="wrapper">		<div class="grid-wrapper">			<div class="grid">				<div class="grid__item one-whole">				    <h1>Change Password</h1>				</div>				<div class="grid__item one-whole desk-one-half lap-two-thirds">					{exp:freemember:update_profile return="/account/index" error_handling="inline" form_class="form--std" error_delimiters='<span class="error">|</span>' require="first_name|last_name|email|postcode"}									<p>To reset your password, please enter a new password below:</p>					<input id="member_type" name="member_type" value="{member_type}" type="hidden">					<input id="first_name" name="first_name" value="{first_name}" type="hidden">					<input id="last_name" name="last_name" value="{last_name}" type="hidden">					<input id="postcode" name="postcode" value="{postcode}" type="hidden">					<input id="email" name="email" value="{email}" type="hidden">					<ul>						<li>							<div class="align--left">								<label for="password">Password <span class="required">*</span></label>							</div>							<div class="align--right">								<input id="password" name="password" type="password" data-trigger="change" required data-equalto="#password">								<span id="result" class="info">Password Strength</span>								{error:password}							</div>						</li>						<li>							<div class="align--left">								<label for="password_confirm">Verify password <span class="required">*</span></label>							</div>							<div class="align--right">								<input id="password_confirm" name="password_confirm" type="password" data-trigger="change" required data-equalto="#password">								{error:password_confirm}							</div>						</li>						<li>							<div class="align--left"></div>							<div class="align--right">								<button type="submit" class="btn btn--primary">Update</button>							</div>						</li>						</ul>					{/exp:freemember:update_profile}				</div>							</div><!-- /grid -->		</div><!-- /grid-wrapper -->	</div><!-- /wrapper -->		{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
