{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <h1>Forgotten Password</h1>
				</div>
				<div class="grid__item one-whole desk-one-half lap-two-thirds">
					{exp:freemember:forgot_password return="account/forgot_sent" reset="account/reset_password" error_handling="inline" form_class="form--std" error_delimiters='<span class="error">|</span>'}
						<ul>
							<li>
								<div class="align--left">
									<label for="email">Email <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input type="email" name="email" id="email" value="{email}" required>	
									{error:email}									
								</div>
							</li>												
							<li>
								<div class="align--left"></div>
								<div class="align--right">
									<button type="submit" class="btn btn--primary">Submit</button>									
								</div>
							</li>	
						</ul>						
					{/exp:freemember:forgot_password}
					<a href="/account/forgotten_password" class="link-important">Forgotten your password?</a>
					<a href="/account/registration_form" class="link-important">Register for <strong>you</strong>learn</a>
				</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

		{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>

