{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <h1>Forgotten Password</h1>
					<p>Instructions on how to reset your password have been to sent to the email address provided. Please check your spam folder if you have not received an email.</p>
				</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

		{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>

