{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

	{exp:topic_layout:recall_progress}

	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <h1>Welcome back {exp:member:custom_profile_data}{first_name}{/exp:member:custom_profile_data}</h1>
				</div>
				<div class="grid__item one-whole lap-six-tenths desk-one-half">
					<div class="profile">
						<h3>Your details</h3>
						<div class="icon" data-icon="u"></div>
						{exp:member:custom_profile_data}<div class="details">{first_name} {last_name}<br>{email}</div>{/exp:member:custom_profile_data}
						<a href="/account/update"><button>Update your details</button></a><br />
						<!--<a href="/account/change_password"><button>Change your password</button></a>-->
					</div>
				</div>
				<div class="grid__item one-whole lap-four-tenths desk-one-third">
				 <a href="{path='logout'}" class="accountLogin">Log out</a>
				</div>
				<div class="grid__item one-whole">
				<h2>Your current courses</h2>
					{exp:channel:entries channel="course" dynamic="no" orderby="entry_id" sort="asc"}
						<section>
							<div class="tab">
								<h3>{exp:youlearn:bold_evohome title="{title}"}</h3>
								<div class="complete">
									<strong>{exp:topic_layout:percent_complete id="{entry_id}"}%</strong>
									<strong>completed</strong>
								</div>
								<span tabindex="0" class="icon-tab" data-icon="+"></span>
							</div>
							<div class="js-visuallyhidden">
								<ul class="tab-list">
								{chapters}
								<li {exp:topic_layout:chapter_check parent="{entry_id}" id="{chapters:entry_id}"} ><a href="{chapters:page_url}">{exp:youlearn:bold_evohome title="{chapters:title}"}</a></li>
								{/chapters}
								</ul>
								<div class=" text--right"><a href="/chapters/{course_shortname}" class="btn btn--primary">Continue</a></div>
							</div>
						</section>
					{/exp:channel:entries}
				</div>

			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

		{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/plugins.js"></script>
</body>
</html>
