{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}


	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <h1>Login</h1>
				</div>
				<div class="grid__item one-whole desk-one-half lap-two-thirds">
				
					{exp:member:login_form return="/account/index" form_class="form--std" form_id="login" form_name="login" action="https://youlearn.purple-agency.net/"}
					<input type="hidden" name="XID" value="{XID_HASH}">
						<ul>
							<li>
								<div class="align--left">
									<label for="username">Email <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input type="text" name="username" id="username" value="" required>																		
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="password">Password <span class="required">*</span></label>
								</div>
								<div class="align--right">								
									<input autocomplete="off" type="password" name="password" id="password" value="" required>							
								</div>
							</li>							
							<li>
								<div class="align--left"></div>
								<div class="align--right">
									<button type="submit" class="btn btn--primary">Login</button>									
								</div>
							</li>	
						</ul>						
					{/exp:member:login_form}
					<a href="/account/forgotten_password" class="link-important">Forgotten your password?</a>
					<a href="/account/registration_form" class="link-important">Register for <strong>you</strong>learn</a>
				</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
