
{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}

	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <div class="header--text">
				    	<h1>Registration</h1>
				    	<h2 class="gamma">Register for free and start your training today</h2>
				    	<p>Without registration you will not be able to view course content.</p>
				    </div>
				</div>
				<div class="grid__item one-whole desk-one-half lap-two-thirds">
					{exp:freemember:register return="/account/thanks" error_handling="inline" form_class="form--std" error_delimiters='<span class="error">|</span>' require="first_name|last_name|email|postcode"}
					
						<ul>
							<li>
								<div class="align--left">
									<label for="member_type">Profile <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<select name="member_type" id="member_type" required>
										<option value="">Select one...</option>
										{member_type_options}
									</select>
								</div>
							</li>
							<li id="other" style="display: none;">
								<div class="align--left">
									<label for="member_type">Other <small>(Please specify)</small> <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input type="text" name="other">
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="first_name">First name <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input id="first_name" name="first_name" value="{first_name}" type="text" data-trigger="change" required >
									{error:first_name}
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="last_name">Last Name <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input id="last_name" name="last_name" value="{last_name}" type="text" data-trigger="change" required >
									{error:last_name}
								</div>
							</li>
							
							<li>
								<div class="align--left">
									<label for="email">Email <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input id="email" name="email" type="email" value="{email}" data-trigger="change" required >
									{error:email}
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="postcode">Postcode <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input id="postcode" name="postcode" type="text" data-trigger="change" required >
									{error:postcode}
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="company">Company name</label>
								</div>
								<div class="align--right">
									<input id="company" name="company" type="text">
								</div>
							</li>
							<li>
								<div class="align--left">
									<label for="password">Password <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input autocomplete="off" id="password" name="password" type="password" data-trigger="change" required data-equalto="#password">
									<span id="result" class="info">Password Strength</span>
									{error:password}
								</div>
							</li>
							<li>
								<div class="align--left">
									<label autocomplete="off" for="password_confirm">Verify password <span class="required">*</span></label>
								</div>
								<div class="align--right">
									<input id="password_confirm" name="password_confirm" type="password" data-trigger="change" required data-equalto="#password">
									{error:password_confirm}
								</div>
							</li>
							{if captcha}
    Please enter the following characters into the box below:<br />
    {captcha}<br />
    {field:captcha}<br />
    {error:captcha}
{/if}
							
							<li>
								<div class="align--left"></div>
								<div class="align--right">
									<button type="submit" class="btn btn--primary">Register</button>
								</div>
							</li>	
						</ul>
						
					{/exp:freemember:register}
				</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
