{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}	<div class="wrapper">		<div class="grid-wrapper">			<div class="grid">				<div class="grid__item one-whole">				    <h1>Change Password</h1>				</div>				<div class="grid__item one-whole desk-one-half lap-two-thirds">				{exp:freemember:reset_password return="account/reset_complete" error_handling="inline" error_delimiters='<span class="error">|</span>'}					{if no_results}						<p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>					{/if}					<p>To reset your password, please enter a new password below:</p>					<p>						<label for="password">New Password</label><br />						<input type="password" name="password" value="" /><br />						{error:password}					</p>					<p>						<label for="password_confirm">Confirm New Password</label><br />						<input type="password" name="password_confirm" value="" /><br />						{error:password_confirm}					</p>					<p>						<input type="submit" value="Submit" class="button" />					</p>				{/exp:freemember:reset_password}				</div>							</div><!-- /grid -->		</div><!-- /grid-wrapper -->	</div><!-- /wrapper -->		{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
