{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
					<h1>Registration Complete</h1>
					<p>Your account has been activated, <a href="/course">click here</a> to start your <strong>youlearn</strong> training.</p>
				</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
