{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}


	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">
				    <h1>Update details</h1>
				</div>
				<div class="grid__item one-whole desk-one-half lap-two-thirds">
					{exp:freemember:update_profile return="/account/index" error_handling="inline" form_class="form--std" error_delimiters='<span class="error">|</span>' require="first_name|last_name|email|postcode"}
							<h1 class="gamma">Edit my details</h1>
							<ul class="form-fields">
							<input id="member_type" name="member_type" value="{member_type}" type="hidden">
								<li>
									<div class="align--left">
										<label for="first_name">First Name <span class="required">*</span></label>
									</div>
									<div class="align--right">
										<input id="first_name" name="first_name" value="{first_name}" type="text" data-trigger="change"  required>
										{error:first_name}
									</div>
								</li>
								<li>
									<div class="align--left">
										<label for="last_name">Last name <span class="required">*</span></label>
									</div>
									<div class="align--right">
										<input id="last_name" name="last_name" type="text" value="{last_name}"  data-trigger="change"  required>
										{error:last_name}
									</div>
								</li>
								<li>
									<div class="align--left">
										<label for="email">Email <span class="required">*</span></label>
									</div>
									<div class="align--right">
										<input id="email" name="email" type="email" value="{email}" data-trigger="change" required >
										{error:email}
									</div>
								</li>
								<li>
									<div class="align--left">
										<label for="postcode">Postcode <span class="required">*</span></label>
									</div>
									<div class="align--right">
										<input id="postcode" name="postcode" value="{postcode}" type="text" data-trigger="change" required >
										{error:postcode}
									</div>
								</li>
								<li>
									<div class="align--left">
										<label for="company">Company name</label>
									</div>
									<div class="align--right">
										<input id="company" name="company" type="text" value="{company}">
									</div>
								</li>								
							
								
							
							</ul>
							<button type="submit" class="btn btn--primary">Update</button>
						{/exp:freemember:update_profile}
				</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>

