{embed="_includes/.head"}
<body>
<div class="siteContainer">
{embed="_includes/.header"}

	{exp:channel:entries channel="landing_pages" limit="1" url_title="home_page"}
	{hero_image}
    <section class="hero homeHero bgBlack" style="background-image: url({hero_image:sp_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">
                    <h1>{hero_image:sp_display_title}</h1>
                    <h2>{hero_image:sp_summary}</h2>
                </div>
            </div>
        </div>
    </section>
	{/hero_image}	
    <section class="contentArea contentOfInterest">
	{further_blocks}	
        
		{if further_blocks:sp_display_title != 'Insights'}
		<a href="{further_blocks:sp_link}">
		<div class="one-half column centered contentOfInterestBGImage {exp:youlearn:get_bg color='{further_blocks:sp_background_color}'} box" style="background-image: url({further_blocks:sp_image});">		
            <h2 class="addBottom">{further_blocks:sp_display_title}</h2>
            {further_blocks:sp_summary}
		</div>	</a>
		{if:else}

			<div class="one-half column contentCarousel offWhiteBG box">
			<h2 class="darkText addBottom">{further_blocks:sp_display_title}</h2>
            {further_blocks:sp_summary}

			
			<div class="insightsCarousel">
				{embed="insights/carousel"}				
            </div>
            <a href="/insights" class="link">See All</a>
			
			  </div>      
		{/if}
			
      
	{/further_blocks}
    </section>
    <section class="ctaArea">
		{related_links}
        <div class="one-third column cta" style="background-image: url({related_links:background_image});">
            <a href="{related_links:link}">{related_links:link_title}</a>
        </div>
		{/related_links}        
        <div class="clear"></div>
    </section>
    {/exp:channel:entries}
	{embed="_includes/.footer"}
</div>	

{embed="_includes/.scripts"}


</body>
</html>
