{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	{exp:channel:entries channel="page" limit="1"}
	<!-- Banner start -->
		<div class="container">
			<div class="grid-wrapper">
				<div class="grid">
					<div class="grid__item one-whole">
						{page_header}
						
					    <div class="banner" {if page_header:background_image}style='background:url({page_header:background_image}); background-size: cover;'{/if}>
					    	<div class="text">							
					    		<h1>{page_header:title}</h1>
					    	</div>
					    </div>
						{/page_header}
					</div>
				</div><!-- /grid -->
			</div><!-- /grid-wrapper -->
		</div>	
	<!-- Banner end -->
	
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
					<div class="grid__item one-whole">
					{page_content}
				</div>			
			
		
			{/exp:channel:entries}	 
		
	
			<div class="grid__item one-whole">
			
				{exp:freeform:form
				form:class="form--std" 
				form_name="upgrade"
				return="/thank-you"
				recipient1="pc@purple-agency.com"
				}				
					{exp:member:custom_profile_data}	
							<input type="hidden" id="first_name" name="first_name" value="{first_name}">
							<input type="hidden" id="last_name" name="last_name" value="{last_name}">							
					{/exp:member:custom_profile_data}
						<input type="hidden" id="email" name="email" value="{email}">
				<!--	<form action="#" class="form--std" data-validate="parsley"  novalidate>-->
						<fieldset>
							<div class="one-whole desk-one-half">
								<h2 class="gamma">Upgrade Installer Network account</h2>
								<ul>
									<li>								
										<div class="align--left">
											<label for="account_number">Honeywell installer number</label>
										</div>
										<div class="align--right">
											<input type="text" id="account_number" name="account_number">
											<div class="input">
												<div class="question">
													<span>What's this</span>
														<div class="answer">
															<p>This is your unique Installer Network membership number.</p>
															<p>If you have forgotten this, please click on the link
															<a href="http://www.honeywelluk.com/professional-zone/installer-network" target="_blank" title="link opens external page ina new tab">honeywelluk.com/professional-zone/installer-network</a></p>
														</div>		
												</div>
											</div>
										</div>
									</li>
									<li>			
										<div class="align--left"></div>
										<div class="align--right">
											<button type="submit" class="btn btn--primary">Submit</button>
										</div>
									</li>
								</ul>
							</div>	
						</fieldset>
				{/exp:freeform:form}
			</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
