{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	
	{exp:channel:entries channel="page" limit="1"}

		<!-- banner start -->
		<div class="container">
			<div class="grid-wrapper">
				<div class="grid">
					<div class="grid__item one-whole">
					    {page_header}
					   <div class="banner" {if page_header:background_image}style='background:url({page_header:background_image}); background-size: cover;'{/if}>
					    	<div class="text">							
					    		<h1>{page_header:title}</h1>
					    	</div>
					    </div>
						{/page_header}
					</div>
				</div><!-- /grid -->
			</div><!-- /grid-wrapper -->
		</div>	
		<!-- banner end -->

		<div class="wrapper">		
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole lap-and-up-two-thirds">
					{page_content}
				</div><!--  
				-->{call_to_action limit="3"}<div class="grid__item one-whole lap-and-up-one-third">
					<a href="{call_to_action:url}" 
					class="cta {if call_to_action:colour=='Light Grey'}cta-light{if:elseif call_to_action:colour=='Dark Grey'}cta-dark{/if}" {if call_to_action:open_in_new_window=="Yes"}target="_blank" title="link opens in a new window" rel="external"{/if} data-icon=">">
						<h2>{call_to_action:title}</h2>
						<p>{call_to_action:text}</p>						
					
					</a>
				</div>{if call_to_action:total_rows != call_to_action:count}<!--

			 -->{/if}{/call_to_action}
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->

	{/exp:channel:entries}
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>