{embed="_includes/.head"}

<body>
<div class="siteContainer">
	{embed="_includes/.header"}
			<!-- Banner start -->
		{exp:channel:entries channel="page" limit="1"}
	{hero_block}
    <section class="hero aboutHero" style="background-image: url({hero_block:sp_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">
                    <h1>{hero_block:sp_display_title}</h1>
                    <h2>{hero_block:sp_summary}</h2>
                </div>
            </div>
        </div>
    </section>
	{/hero_block}
		<!-- Banner end -->

		
		
	{content_grid}
	{if content_grid:image}
	<section class="contentArea contentAreaPadding whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="ten columns offset-by-one">
                    <div class="row">
                        <div class="six columns alpha paddingRight">
                            {content_grid:text}
                        </div>
                        <div class="six columns">
                            <img src="{content_grid:image}" class="scale-with-grid" alt="Picture of sofa and coffee table" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>		
	{if:else}
	 <section class="contentArea contentAreaPadding whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="ten columns offset-by-one">
                    <div class="row">
                        <div class="ten columns alpha paddingRight">
                            {content_grid:text}
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>	
	
	{/if}
	{/content_grid}
	
	 <section class="ctaArea">
		{related}
        <div class="one-third column cta" style="background-image: url({related:background_image});">
            <a href="{related:link}">{related:link_title}</a>
        </div>
		{/related}        
        <div class="clear"></div>
    </section>
		
	{/exp:channel:entries}
	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
