{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	{exp:channel:entries channel="page" limit="1"}
		
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
					<div class="grid__item one-whole">
					{page_content}
				</div>

	
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{/exp:channel:entries}
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
