{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	
	{exp:member:custom_profile_data}
					
	
	
	{exp:channel:entries channel="page" limit="1"}
	<!-- Banner start -->
		<div class="container">
			<div class="grid-wrapper">
				<div class="grid">
					<div class="grid__item one-whole">
						{page_header}
						
					    <div class="banner" {if page_header:background_image}style='background:url({page_header:background_image}); background-size: cover;'{/if}>
					    	<div class="text">							
					    		<h1>{page_header:title}</h1>
					    	</div>
					    </div>
						{/page_header}
					</div>
				</div><!-- /grid -->
			</div><!-- /grid-wrapper -->
		</div>	
	<!-- Banner end -->
	
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
					<div class="grid__item one-whole">
					{page_content}
				</div>
				
					{if member_type != "Home Owner" && member_type != "Other - Please specify"}
					
					{call_to_action limit="2"}<div class="grid__item one-whole lap-and-up-one-half">
							<a href="{call_to_action:url}" 
					class="cta {if call_to_action:colour=='Light Grey'}cta-light{if:elseif call_to_action:colour=='Dark Grey'}cta-dark{/if}" {if call_to_action:open_in_new_window=="Yes"}target="_blank" title="link opens in a new window" rel="external"{/if} data-icon=">">
						<h2>{call_to_action:title}</h2>
						<p>{call_to_action:text}</p>					
							</a>
							</div>{if call_to_action:total_rows != call_to_action:count}<!--
							-->{/if}{/call_to_action}
					{/if}
				
								 
			<div class="grid__item one-whole">			
				{exp:freeform:form
				form:class="form--std" 
				form_name="contact"
				inline_errors="yes" 
				return="/thank-you"
				required="email|user_message"
				}
					<input type="hidden" id="first_name" name="first_name" value="{first_name}">
					<input type="hidden" id="last_name" name="last_name" value="{last_name}">
					
									
				<!--	<form action="#" class="form--std" data-validate="parsley"  novalidate>-->
						<fieldset>
							<div class="one-whole desk-one-half">
								<ul>
									<li>
										<h2 class="gamma">Feedback</h2>
									</li>
									<li>	
									<div class="align--left">
										<label for="email" class="visuallyhidden">email</label>
										<span class="label">email address</span>
									</div>
									<div class="align--right">
										{freeform:field:email}
										<span class="label"><strong>{freeform:error:email}</strong></span>
									</div>
									</li>									
									<div class="align--left">
										<label for="user_message" class="visuallyhidden">Feedback</label>
										<span class="label">If you would like to provide feedback on the course you have completed please do so</span>
									</div>
									<div class="align--right">
										<textarea name="user_message" id="user_message"></textarea>
										<span class="label"><strong>{freeform:error:user_message}</strong></span>
									</div>
									</li>
									<li>
										<div class="align--left"></div>
										<div class="align--right">
											<button type="submit" class="btn btn--primary">Send</button>
										</div>
									</li>
								</ul>
							</div>
						</fieldset>
				{/exp:freeform:form}
			</div>
				
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{/exp:channel:entries}
	{/exp:member:custom_profile_data}
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
