{embed="_includes/.head"}
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	{exp:channel:entries channel="landing_pages" limit="1" url_title="courses"}
	{hero_image}
    <section class="hero productsHero {exp:youlearn:get_bg color='{hero_image:sp_background_color}'}" style="background-image: url({hero_image:sp_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">
                    <h1>{hero_image:sp_display_title}</h1>
                    {hero_image:sp_summary}
                </div>
            </div>
        </div>
    </section>
	{/hero_image}
	
    <section class="contentArea products productsListing">
	{further_blocks}	   
		<a href="{further_blocks:sp_link}">
		<div class="one-third column product productImageBG {exp:youlearn:get_bg color='{further_blocks:sp_background_color}'} box" style="background-image: url({further_blocks:sp_image});">		
            <h2 class="darkText">{further_blocks:sp_display_title}</h2>
            {further_blocks:sp_summary}
			  
		</div>	
		</a>
      
	{/further_blocks}
    </section>
    <section class="ctaArea">
		{related_links}
        <div class="one-third column cta" style="background-image: url({related_links:background_image});">
            <a href="{related_links:link}">{related_links:link_title}</a>
        </div>
		{/related_links}        
        <div class="clear"></div>
    </section>
    {/exp:channel:entries}

	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
