{embed="_includes/.head"}
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	{exp:channel:entries channel="course" limit="1"}

    <section class="hero homeHero offWhiteBG" style="background-image: url({course_background_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">
                    <h1 class="darkText">{title}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="contentArea contentAreaPadding whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <div class="row">
                            {course_summary}
							
							<a href="/chapters/{course_shortname}" class="darkText">Start the {exp:youlearn:bold_evohome title="{course_title}"} >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    {/exp:channel:entries}

	{embed="_includes/.footer"}
		</div>
	{embed="_includes/.scripts"}
</body>
</html>