{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}
	{exp:channel:entries channel="course" limit="1"}
		<!-- banner start -->
		<div class="container" {exp:switchee variable = "{segment_2}" parse="inward"}{case value="Lyric"}style="background:#000000"{/case}{/exp:switchee}>
			<div class="grid-wrapper">
				<div class="grid">
					<div class="grid__item one-whole">
						<div class="banner" style="background:url({course_background_image}); background-size: cover;">
							<div class="text">
								<h1>{exp:youlearn:bold_evohome title="{title}"}</h1>
							</div>
						</div>
					</div>
				</div><!-- /grid -->
			</div><!-- /grid-wrapper -->
		</div>
		<!-- banner end -->

		<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">

					{course_summary}

						{chapters limit="1"}
							<a href="/chapters/{course_shortname}" class="btn btn--primary">Start the {exp:youlearn:bold_evohome title="{course_title}"}</a>
						{/chapters}

						{if entry_id == "8"} <!--  only show on evohome -->
							<div class="table-wrap  push--top">
								<table class="table table--std  table--complex">
									<tr>
										<th>Thermostat Product Group</th>
										<th>Honeywell Part Number</th>
										<th>Description</th>
										<th>Erp Class</th>
										<th>%</th>
									</tr>
									<tr>
										<td rowspan="8">Programmable Thermostat</td>
										<td>CMT701A1014</td>
										<td>CM701 Contract Programmable
									Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>CMT707A1029</td>
										<td>CM707 Contract Programmable
									Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>CMT721D1019</td>
										<td>CM721 Contract Programmable
									Thermostat</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>CMT727D1016</td>
										<td>CM727 Contract Programmable
									Thermostat</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>CMT901A1044</td>
										<td>CM901 Programmable Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>CMT907A1041</td>
										<td>CM907 Programmable Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>CMT921A1042</td>
										<td>CM921 Programmable Thermostat</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>CMT927A1049</td>
										<td>CM927 Programmable Thermostat</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td rowspan="7">Room Thermostat</td>
										<td>DT90E1012</td>
										<td>DT90 Digital Low Voltage Room
									Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>DT92E1000</td>
										<td>DT92 Digital Low Voltage Room
									Thermostat</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>Y6630D1007</td>
										<td>Y6630D Analogue Low Voltage Room
									Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>T6360B1028/36</td>
										<td>T6360 Analogue Mains Voltage
									Room Thermostat</td>
										<td>Class I</td>
										<td>1%</td>
									</tr>
									<tr>
										<td>TH9320WFV8004</td>
										<td>Connected Voice Programmable
									Thermostat</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>Y87RF2024</td>
										<td>Single Zone Thermomstat
									(Connected with RFG100)</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>ATP921R3100</td>
										<td>evohome Connected Thermostat Pack </td>
										<td>Class VIII </td>
										<td>5%</td>
									</tr>
									<tr>
										<td rowspan="4">Sundial RF<sup>2</sup></td>
										<td>Y9120H2009</td>
										<td>Sundial RF² Pack 1</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>Y9420H1008</td>
										<td>Sundial RF² Pack 2</td>
										<td>Class IV</td>
										<td>2%</td>
									</tr>
									<tr>
										<td>Y9420S2005</td>
										<td>Sundial RF² Pack 3</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
									<tr>
										<td>Y9520Z1007</td>
										<td>Sundial RF² Pack 5</td>
										<td>Class V</td>
										<td>3%</td>
									</tr>
								</table>
							</div>
						{/if}
						{if entry_id == "321"}
							<div>
								<img src="/assets/img/erp-3.jpg" alt="ERP CLass V +3%" width="100">
							</div>
						{/if}
				</div>

			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{/exp:channel:entries}
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
