{embed="_includes/.head"}

<body>
	{embed="_includes/.header"}

	
	
	{exp:channel:entries channel="course" limit="1"}
		<!-- banner start -->
		<div class="container">
			<div class="grid-wrapper">
				<div class="grid">
					<div class="grid__item one-whole">
					    <div class="banner" style="background:url(https://youlearn.purple-agency.net/uploads/images/T6/T6_courses_banner.png); background-size: cover;">
					    	<div class="text">
					    		<h1>{exp:youlearn:bold_evohome title="{title}"}</h1>
					    	</div>
					    </div>
					</div>
				</div><!-- /grid -->
			</div><!-- /grid-wrapper -->
		</div>	
		<!-- banner end -->

		<div class="wrapper">		
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole">

					{course_summary}					
						
						{chapters limit="1"}	
							<a href="/chapters/" class="btn btn--primary">Start the {exp:youlearn:bold_evohome title="{course_title}"}</a>
						{/chapters}	
					<!-- Need to add a continue button here if already starteed the course -->
				</div>

			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{/exp:channel:entries}
	{embed="_includes/.footer"}
	{embed="_includes/.scripts"}
</body>
</html>
