{embed="_includes/.head"}
<body>
<div class="siteContainer">
{embed="_includes/.header"}

	{exp:channel:entries channel="products" limit="1" dynamic="yes"}

    <section class="hero productsHero offWhiteBG" style="background-image: url({product_main_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">
                    <h1 class="darkText">{title}</h1>
                   {product_summary}
                </div>
            </div>
        </div>
    </section>
    <section class="contentArea contentAreaPadding insightsContent whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="row addBottom">
                    <div class="six columns offset-by-three videocontainer">
					{exp:channel_videos:videos entry_id="{entry_id}"}
						{video:embed_code}
					{/exp:channel_videos:videos}
                    </div>
                </div>
                <div class="row">
                    <div class="ten columns offset-by-one">
                        <div class="row">
                            <div class="six columns alpha">
                               {product_body_text}
                            </div>
                            <div class="six columns centered">
							 <img src="{product_body_image}" class="scale-with-grid-half" alt="Picture of sofa and coffee table" />                               
                            </div>
                        </div>
                    </div>
                </div>
				
				{product_downloads}				
				{if product_downloads:count == "1"}
				 <div class="six columns offset-by-three centered" style="padding-top:30px;">
                    <h1 class="darkText">Downloads</h1>
                </div>
				
				 <div class="ten columns offset-by-one">
				{/if} 
					<div class="one-third column columnPadding whiteBG centered">
                           <div class="insight" style="min-height: 140px;height: 140px;">
                                <a href="{product_downloads:download_file}">
                                    
                                    <div class="insightText">
                                        <p>{product_downloads:download_title}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
					
				{if product_downloads:count == product_downloads:total_rows}
				</div>
				{/if}
				{/product_downloads}
				
				
            </div>
        </div>
    </section>
    <section class="ctaArea">
		{related_blocks}
        <div class="one-third column cta" style="background-image: url({related_blocks:background_image});">
            <a href="{related_blocks:link}">{related_blocks:link_title}</a>
        </div>
       	{/related_blocks}
        <div class="clear"></div>
    </section>
	
	{/exp:channel:entries}
	{embed="_includes/.footer"}
</div>	
{embed="_includes/.scripts"}
</body>
</html>
