<footer class="footer">
        <div class="container">
            <div class="twelve columns">
                    <div class="row borderBottom">
                        <div class="nine columns fullWidth">
                            <nav class="navFooter">
                                {exp:navee:custom nav_title="main" wrap_type="ul" class="remove-bottom"}
							<li class="{class}"><a href="{link}">{text}</a></li>
						{/exp:navee:custom}		
                            </nav>
                        </div>
                        <div class="three columns rightAlign fullWidth">
                            <a href="https://pages1.honeywell.com/ECC-UK-GDPRSingleOpt-in_01-GDPR_Single_Opt-in_Subscription_Page.html" target="_blank" class="button">Stay up to date</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <nav class="navFooterOther">
                                {exp:navee:custom nav_title="footer" wrap_type="ul" class="remove-bottom"}
							<li class="{class}"><a href="{link}">{text}</a></li>
						{/exp:navee:custom}		
                            </nav>
                        </div>
                        <div class="six columns rightAlign">
                            <p>Copyright &copy; 2019 Honeywell International Inc.</p>
                        </div>
                    </div>
            </div>
        </div>
    </footer>