    <header class="header">
        <div class="two columns logo">
                   <div class="logoContent">
                       <div class="logoContentTableCell">
                           <a href="/">
                               <img src="/dist/img/youLearnLogo.svg" class="scale-with-grid" alt="YouLearn Logo" />
                           </a>
                       </div>
                   </div>
               </div>
        <div class="container">
            <div class="twelve columns">
               
               <div class="eight columns offset-by-two centered navContainer">
                   <nav class="nav">
                       					   
					   {exp:navee:custom nav_title="main" wrap_type="ul" class="remove-bottom"}
							<li class="{class}"><a href="{link}" title="{title}">{text}</a></li>
							
						{if is_last_item_on_level}
							<li class="accountLogin">
							
								{if logged_in}
								<a href="/account/" class="accountLogin loggedIn" title="">
							       <i class="far fa-user"></i>
                               </a>
                               <ul class="loginmenu">
                               		<li><a href="/account/">My Account</a></li>
                               		<li><a href={path='logout'}>Log out</a></li>
                               </ul>
                               
						{/if}
						{if logged_out}
						
						<a href="/account/login" class="accountLogin" title="{title}">
                                   <i class="far fa-user"></i>
                               </a>
							  <ul class="loginmenu">
                              		<li><a href="/account/registration_form">Register</a></li>
                               		<li><a href="/account/login">Log in</a></li>                              
                               </ul>
						{/if}	
							
							
                              
                           </li>
						   
						  {/if}
							
						{/exp:navee:custom}					   
                            
                       </ul>
                   </nav>
               </div>
               
            </div>
        </div>
        <div class="three columns honeywellLogo">
           <div class="honeywellLogoTable">
               <div class="honeywellLogoTableCell">
					<a target="_blank" href="https://www.honeywelluk.com/">
                    <img src="/dist/img/honeywellLogo.svg" class="scale-with-grid honeywellLogoContent" alt="Honeywell home logo" />
					</a>
               </div>
           </div>
        </div>
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </header>