	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

	<script src="/assets/js/main.min.js"></script>
	<!-- Async loading of GA and social scripts -->
	<div id="fb-root"></div>
	<script>
		(function(i,s,o,g,r,a,m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-5611576-12', 'auto');
		ga('send', 'pageview');

		ga('create', 'UA-61134887-3', 'auto', {'name': 'newTracker'});
		ga('newTracker.send', 'pageview');

	</script>