{embed="_includes/.head"}
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	{exp:channel:entries channel="landing_pages" limit="1" url_title="promotion"}
    <section class="insightsHero offWhiteBG centered">
        <div class="container">
            <div class="twelve columns">
                <div class="eight columns offset-by-two">
                    <h1 class="darkText">{title}</h1>
                    <h2 class="darkText">{subtitle}</h2>		
                </div>
            </div>
        </div>
    </section>
	{/exp:channel:entries}
    <section class="insightsSearchBar">
        <div class="container">
            <div class="twelve columns">
                <div class="eight columns offset-by-two">
                   {exp:search:simple_form channel="promotion" result_page="promotion/index" no_result_page="promotion/index" search_in="everywhere" status="open" form_class="remove-bottom"}
                        <input class="remove-bottom" type="text" name="keywords" id="keywords" placeholder="Search At a promotions for..." />
                   {/exp:search:simple_form}
                </div>
            </div>
        </div>
    </section>
    <section class="contentArea contentAreaPadding insightsContent whiteBG">
        <div class="container">
            <div class="twelve columns">
                <div class="ten columns offset-by-one">
                    <div class="sortBy">
                        <form class="sortByForm remove-bottom">
                            <div class="one-third column columnPadding">
                                <label for="latest">Sort by</label>
                                <select id="latest">
                                    <option>Latest</option>
                                    <option>Oldest</option>
                                </select>
                            </div>
                            <div class="one-third column columnPadding">								
                                <label for="topic">Sort by</label>
                                <select id="topic">
								  <option value="0">All</option>
									{exp:channel:categories category_group="5"}
										<option value="{category_url_title}"> {category_name}</option>
									{/exp:channel:categories}
                                </select>
                            </div>
                            <div class="one-third column columnPadding">
                                <label for="contentType">Content type</label>
                                <select id="contentType">
                                    <option value="0">All</option>
                                   {exp:channel:categories category_group="4"}
										<option value="{category_url_title}"> {category_name}</option>
									{/exp:channel:categories}
                                </select>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
                <div class="ten columns offset-by-one" id="insights">
				
				{if segment_2}
				
					 {if no_results}
					<p>No Results Found </p>
					{if:else}
				
					{exp:search:search_results}
						<div class="one-third column columnPadding whiteBG insight--card ">
                           <div class="insight">                    
                                <a href="{page_url}">
                                   {if aag_thumbnail}
										 <div class="insightImage" style="background-image: url({aag_thumbnail});">
									{if:else}
										{exp:channel_videos:videos entry_id="{entry_id}"}
										 <div class="insightImage" style="background-image: url({video:img_url});">
										{/exp:channel_videos:videos}
									{/if}
                                        <div class="insightDate">
                                            <time>{entry_date format="%d %M %Y"}</time>
                                        </div>
                                    </div>
                                    <div class="insightText">
                                        <p>{title} </p>
                                    </div>
                                </a>
                            </div>
                        </div>
					{/exp:search:search_results}
					{/if}
				{if:else}
				
				{exp:channel:entries channel="at_a_glance" sort="asc"}									
                        <div class="one-third column columnPadding whiteBG insight--card {if count > 9 }insight--hidden{/if}" data-type="{categories show_group='4'}{category_url_title}{/categories}" data-topic="{categories show_group='5'}{category_url_title},{/categories}">
                            <div class="insight">
                                	{if aag_download}
										<a target="_blank" href="{aag_download}">
									{if:else}
										<a href="/promotion/{url_title}">
									{/if}
									
									{if aag_thumbnail}
										 <div class="insightImage" style="background-image: url({aag_thumbnail});">
									{if:else}
										{exp:channel_videos:videos entry_id="{entry_id}"}
										 <div class="insightImage" style="background-image: url({video:img_url});">
										{/exp:channel_videos:videos}
									{/if}
                                        <div class="insightDate">
                                            <time>{entry_date format="%d %M %Y"}</time>
                                        </div>
                                    </div>
                                    <div class="insightText">
                                        <p>{title} </p>
                                    </div>
                                </a>
                            </div>
                        </div>
					{/exp:channel:entries}		
					
					
					
                        <div class="clear"></div>
						</div>	
					 <div class="ten columns offset-by-one">	
                    <a href="#" class="loadMore" id="loadMore">
                        <i class="fas fa-plus"></i> Load more
                    </a>
					</div>	
					{/if}
                </div>
            </div>
        </div>
    </section>
		{exp:channel:entries channel="landing_pages" limit="1" url_title="insights"}
    <section class="ctaArea">
        {related_links}
        <div class="one-third column cta" style="background-image: url({related_links:background_image});">
            <a href="{related_links:link}">{related_links:link_title}</a>
        </div>
		{/related_links}        
        <div class="clear"></div>
    </section>
	    {/exp:channel:entries}
	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
