@include fontFace('HoneywellSansWeb-Bold','fonts/HoneywellSansWeb-Bold',$weight: normal,$style: normal);
@include fontFace('HoneywellSansWeb-Book','fonts/HoneywellSansWeb-Book',$weight: normal,$style: normal);
@include fontFace('HoneywellSansWeb-ExtraBold','fonts/HoneywellSansWeb-ExtraBold',$weight: normal,$style: normal);
@include fontFace('HoneywellSansWeb-Medium','fonts/HoneywellSansWeb-Medium',$weight: normal,$style: normal);

