body {
    font-family: 'HoneywellSansWeb-Medium';
}
h1 {
   font-size: 2.125em;
   line-height: 1em;
   font-weight: 100; 
   color: $lightText;
    margin: 0 0 25px 0;
    letter-spacing: 1px;
    &.darkText {
        color: $darkText;
    }
    .whiteBG & {
        color: $darkText;
    }
    font-family: 'HoneywellSansWeb-Book';
}
h2 {
    font-size: 1.250em;
    line-height: 1em;
    font-weight: 300;
    color: $lightText;
    margin: 0;
    letter-spacing: 0.5px;
    &.darkText {
        color: $darkText;
    }
    &.addBottom {
        margin-bottom: 20px;
    }
    .whiteBG & {
        color: $darkText;
    }
    .offWhiteBG & {
        color: $darkText;
    }
    .contentAreaInternalLinks & {
        font-size: 1.625em;
        color: #1d1d1b;
    }
    font-family: 'HoneywellSansWeb-Bold';
    span {
        color: $lightBlue;
        font-family: 'HoneywellSansWeb-ExtraBold';
    }
    .heading-block &,
    .support &,
    .trainingContent_support & {
        font-size: 2em;
    }
    .trainingContent_support & {
        font-family: 'HoneywellSansWeb-Medium';
        span {
            font-family: 'HoneywellSansWeb-Medium';
        }
    }
}
h3 {
    font-size: 0.875em;
    font-weight: 100; 
    color: $lightText;
    &.darkText {
        color: $darkText;
    }
    .trainingContent_form & {
        color: $nearBlackBG;
        font-size: 1.875em;
        line-height: 1em;
        margin: 0 0 30px 0;
        font-family: 'HoneywellSansWeb-Book';
    }
}
h4 {
    font-family: 'HoneywellSansWeb-Medium';
    font-size: 1.500em;
    line-height: 1.2em;
    margin: 0 0 20px 0;
    .trainingContent_form & {
        color: $nearBlackBG;
        font-size: 1.188em;
        line-height: 1em;
        margin: 0 0 20px 0;
        font-family: 'HoneywellSansWeb-ExtraBold';
    }
}
h6 {
    font-size: 1.188em;
    line-height: 1.2em;
    margin: 0 0 20px 0;
    font-family: 'HoneywellSansWeb-ExtraBold';
    &:last-of-type {
        margin: 0;
    }
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
    color: $lightText;
    margin: 0 0 20px 0;
    font-weight: normal;
    &.darkText {
        color: $darkText;
    }
//    &:last-of-type {
//        margin-bottom: 0;
//    }
    &.smallPara {
        font-size: 0.875em;
        font-family: 'HoneywellSansWeb-ExtraBold';
    }
    &.addBottom {
        margin-bottom: 40px;
    }
    .whiteBG & {
        color: $darkText;
    }
    .offWhiteBG & {
        color: $darkText;
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    strong {
        font-family: 'HoneywellSansWeb-ExtraBold';
    }
    //font-family: 'HoneywellSansWeb-Book';
}
ul {
    list-style: disc outside;
    margin-left: 15px;
    li {
        font-size: 1em;
        line-height: 1.4em;
        color: $lightText;
        margin: 0 0 15px 0;
         &.darkText {
            color: $darkText;
        }
        .whiteBG & {
            color: $darkText;
        }
        .offWhiteBG & {
            color: $darkText;
            list-style: none;
        }
    }
    &.listStyleBullets {
        li {
            position: relative;
            padding-left: 50px;
            list-style: none;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 27px;
                height: 27px;
                background: url(../img/listStyle.jpg) no-repeat center center;
                background-size: 27px 27px;
            }
            font-family: 'HoneywellSansWeb-Book';
        }
    }
    &.addTop {
        margin-top: 30px;
    }
}
a {
    &.link {
        font-size: 1em;
    }
    color: $lightText;
    &.darkText {
        color: $darkText;
    }
}
.centered {
    text-align: center;
}
.rightAlign {
    text-align: right;
}

.wrapper {
    button {
        min-width: auto!important;
    }
    .btn {
        &.btn--primary {
            margin: 0 0 20px 0;
            border: 1px solid #E12626;
            &:hover {
               background-color: $lightText;
               color: #E12626;
            }
        }
        &.btn--full {
            border: 1px solid #5C666F;
            &:hover {
                color: #5C666F;
                background: $lightText;
            }
        }
    }
}


.button {
    color: $white;
    border: 2px solid $white;
    @include border-radius(0px);
    display: block;
    font-size: 0.875em;
    line-height: 1em;
    padding: 15px 20px;
    height: auto;
    @include rolloverAnimations(250ms);
    width: 100%;
    max-width: 280px;
    .centered & {
        margin: 0 auto;
        margin-top: 35px;
    }
    &.remove-top {
        margin-top: 0;
    }
    &:hover {
        background: $white;
        color: $darkGreyBG;
        border-color: $white;
    }
//    &.buttonRed {
//        display: inline;
//        background: $honeywellRed;
//        border-color: $honeywellRed;
//        color: $lightText;
//        &:hover {
//            background: $lightText;
//            color: $honeywellRed;
//        }
//        @include phone-portrait {
//            max-width: 100%;
//            display: block;
//            max-width: auto;
//            white-space: normal;
//        }
//    }
    &.buttonBlue {
        background: $lightBlue;
        border-color: $lightBlue;
        &:hover {
            background: $white;
            color: $lightBlue;
        }
    }
    &.buttonDisabled {
        background: #d3d3d3;
        border-color: #d3d3d3;
        &:hover {
            background: #d3d3d3;
            border-color: #d3d3d3;
            color: $white;
        }
    }
    &.buttonLoadmore {
        border-color: $lightBlue;
        color: $lightBlue;
        margin: 0 auto;
        width: 180px;
        margin-top: 40px;
    }
}

#result {
    background: #ebeced;
    font-size: 12px;
    font-size: .75rem;
    line-height: 2;
    padding: 4px;
    text-align: right;
    margin-top: 10px;
    display: block;
}

blockquote {
    margin: 0 0 20px 0;
    font-size: 1.500em;
    line-height: 1.2em;
    font-family: 'HoneywellSansWeb-Medium';
}





