// Brand Color
$primary-color: blue;

// Font sizes
$font-size: 18px;

// Screen sizes

$mobile-portait: 414px;
$tablet-width: 768px;
$tablet-width-landscape: 1024px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;

// Padding & margins

$padding: 70px 0 80px 0;

// Colours 

$lightText: #ffffff;
$white: #ffffff;
$darkText: #000000;
$greyTextColor: #7a7c7c;
$footerNavColor: #919293;
$blueLinkColor: #1891E6;
$greyLinkColor: #949594;
$honeywellRed: #ee3124;
$greenColor: #0ea805;
$lightBlue: #388ecd;
$blue-1: #426a93;
$blue-2: #234e7c;
$blue-3: #1d303f;
$nearBlack: #1d1d1b;

// Backgrounds 

$greyBackground: #2a2a2a;
$blueBackground: #3b8dcc;
$blackBackground: #000000;
$redBackground: #ff0001;
$whiteBackground: #ffffff;
$offWhiteBackground: #f4f4f4;
$greyBackgroundOther: #eeeded;
$transparentWhite: rgba(255,255,255, 0.8);
$darkGreyBG: #333333;
$navyBG: #0d2532;
$lightBlueBG: #2f9fda;
$lightBlue-2: #5f98d1;
$lightGreyBG: #e5e5e5;
$lightGreyBG-2: #c8c8c8;
$nearBlackBG: #1a1a1a;


// Borders

$borderColor: #979797;
$darkBorderColor: #828282;