{embed="_includes/.head"}
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}

	{exp:topic_layout:get_course}
	
		<!-- banner start -->
	<div class="wrapper">
		<div class="grid-wrapper">
			<div class="grid">
			{exp:channel:entries channel="course" limit="1" dynamic="yes" search:course_shortname="{segment_2}"}
				<div class="grid__item one-whole">
					<div class="chapter-heading">
						<div class="heading-wrap">
							<h1>{exp:youlearn:bold_evohome title="{title}"}</h1>
							<h2>Choose a chapter from the list below</h2>
						</div>
						 <div class="box-wrap {if exp:topic_layout:percent_complete=='100'}box-100{/if}">
						 <!-- box 100 is a class only added when the user get's a 100 percent -->
						 	<strong>{exp:topic_layout:percent_complete id="{entry_id}"}%</strong>
						 	<span>completed</span>
						 </div>
					</div>
					<div class="chapters">
						
					{chapters}
						{exp:topic_layout:check_chapter parent="{entry_id}" id="{chapters:entry_id}"}
						<a href="{chapters:page_url}" {tl:tick_class}>
							<div class="img-wrap">
								<img src="{chapters:thumbnail_image}" alt="{chapters:thumbnail_image_alt_text}">
							</div>
							<div class="text-wrap">
								<h3>{exp:youlearn:bold_evohome title="{chapters:title}"}</h3>
								<p>{exp:youlearn:bold_evohome title="{chapters:chapter_abstract}"}</p>
								<em>Time approx: {chapters:duration} minutes</em>
							</div>
							{tl:tick_sign}
						</a>
						{/exp:topic_layout:check_chapter}
							
						
						{/chapters}
					</div>
				</div>
			{/exp:channel:entries}
			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	
	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
