{embed="_includes/.head"}	
<link rel="stylesheet" href="/assets/css/style.css">
<body>
<div class="siteContainer">
	{embed="_includes/.header"}
	
	{exp:channel:entries channel="chapter" limit="1"}
		<!-- banner start -->
		
		 {chapter_header}
		<section class="hero courseHero" style="background-image: url({chapter_header:background_image});">
        <div class="container">
            <div class="twelve columns">
                <div class="six columns offset-by-three centered">				
                    <h1 class="darkText">{chapter_header:title}</h1>
                </div>
            </div>
        </div>
    </section>
		{/chapter_header}
		
		<div class="wrapper">		
		<div class="grid-wrapper">
			<div class="grid">
				<div class="grid__item one-whole lap-and-up-two-thirds">

					{chapter_summary}
					
					{topics limit="1"}		
						<a href="{topics:page_url}" class="btn btn--primary">Start the first topic</a>
					{/topics}
					<!-- Need to add a continue button here if already starteed the course -->
				</div><!--  
				--><div class="grid__item one-whole lap-and-up-one-third">
					<div class="cta cta-next">
						<p class="text-important">Duration: {duration} mins.</p>
						<h2 class="delta">Topics</h2>
						<ul class="list--std list--arrows">
						{topics}
							{if topics:channel=="Topic"}
								{if topics:title_topic_page=="y"}
									<li><a href="{topics:page_url}">{topics:display_title}</a></li>
								{/if}			
							{/if}							
						{/topics}
						</ul>
					</div>
					
					<a href="/chapters/{parents:course_shortname}" role="button" class="btn btn--full">Back to <strong>{parents:course_shortname}</strong> chapters</a>
				</div>

			</div><!-- /grid -->
		</div><!-- /grid-wrapper -->
	</div><!-- /wrapper -->
	{/exp:channel:entries}
	{embed="_includes/.footer"}
	</div>
	{embed="_includes/.scripts"}
</body>
</html>
